

.review-project-detail-main {
    padding-top: 20px;
}

.review-project-new-task-block {
    /* border: 1px solid black; */
    padding-bottom: 15px;
}

.review-project-tasks-filters-block {
    border: 1px solid black;
    padding-bottom: 15px;
}

.review-project-delete-button{
    width: 30px;
    height: 30px;
    cursor: pointer;
}