.project-review-user-list {
    transition: 1s;
    overflow: hidden;
}

.project-review-user-list-show {
    max-height: 300px;
    overflow: auto;
}

.review-project-detail-main{
    padding-top: 20px;
}