div.main-header {
    height: 60px;
    /* border: 2px solid black; */
    background-color: #343943;
}

div.main-header-inner {
    height: 100%;
}

div.main-header-row {
    height: 100%;
}

img.main-header-logo-img {
    height: 100%;
    width: 70px;
}

div.main-header-logo {
    height: 100%;
}

div.header-user-block {
    height: 100%;
    /* transition: 1s; */
    /* border-left: 1px solid white; */
    /* cursor: pointer; */
}

div.header-user-dropdown {
    height: 100%;
    /* cursor: pointer; */
    text-align: right;
}

div.header-auth-dropdown {
    height: 100%;
    /* cursor: pointer; */
    font-size: 20px;
    text-align: center;
}

img.header-user-img {
    height: 100%;
    border-radius: 50%;
}

span.header-user-name-text {
    display: block;
    max-width: 50%;
    overflow: hidden;
    /* padding-right: 10px; */
    margin-right: 10px;
}

span.header-user-img {
    height: 100%;
}

div.header-user-block-inner {
    height: 100%;
    cursor: pointer;
}

div.header-user-block-inner:hover {
    background-color: greenyellow;
    /* transition: 1s; */
}