.card-list-body {
    background-color: white;
}

div.one-menu-card-inner {
    width: 100%;
    height: 100%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

div.one-menu-card-inner:hover {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

div.one-card-button {
    width: 30px;
    height: 30px;
    /* border: 2px solid black; */
    position: absolute;
    z-index: 5;
    cursor: pointer;
}

div.edit-one-card-button {
    left: 100%;
    margin-left: -30px;
}

div.follow-one-card-button {
    left: 100%;
    margin-left: -60px;
}

div.cancel-edit-one-card-button {
    left: 100%;
    margin-left: -30px;
}

div.save-one-card-button {
    left: 100%;
    margin-left: -60px;
}

div.card-list-preloader {
    height: 400px;
    width: 400px;
    /* TODO  при маленьком экране фул криво */
}