
.one-card-header{
    border:2px solid black;
}

.one-card-header-info{
    border:2px solid black;
}

.one-card-header-image{
    border:2px solid black;
}

.one-card-body-info{
    border:2px solid black;
}
