.word-card-card-main {
    /* border: 1px solid black;
    min-height: 150px; */
}

.word-card-card-inner {
    border: 1px solid black;
    min-height: 150px;
}

.word-card-cards-list-main {

}

.word-card-cards-list-inner {
    border: 1px solid black;
    height: 300px;
    overflow-y: scroll;
    cursor: pointer;
    padding: 5px;
}

.words-cards-list-actions{
    min-height: 150px;
    border: 1px solid black;
}

.word-in-list-selected{
    border: 1px solid black;

}