.presets-page-main {
    width: 100%;
}


.presets-page-main .action-btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
    flex-shrink: 0;
}

.presets-page-main .one-preset-block {
    display: flex;
    justify-content: space-between;
}

.one-preset-block .one-preset-buttons {
    display: flex;

}