.room-stories-type-selector {
    display: flex;
    border-radius: 6px 6px 0 0;
    border: 2px solid grey;
    justify-content: space-around;
}

.room-stories-type-selector .type-section {
    padding: 5px;
    /* border-bottom: 2px solid grey; */
    cursor: pointer;
}

.room-stories-type-selector .type-section-select {
    border-bottom: 3px solid black;
}


.stories-data-list {
    max-height: 500px;
    overflow: auto;
    white-space: pre-wrap;
    /* white-space: pre; */
}

.not-completed-story {
    /* background-color: #e9f3a8; */
    background-color: #e2e1ef;
    border-radius: 5px;
    padding-left: 5px;
}

.completed-story {
    /* background-color: #b2f593; */
    background-color: #e2e1ef;
    border-radius: 5px;
    padding-left: 5px;
}

.stories-action-btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.stories-del-but {
    /* background-color: #dc3545; */
    width: 30px;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
}

.stories-but-block {
    display: flex;
    justify-content: space-between;
    width: 90px;
}

.planing-current-story {
    padding-top: 15px;
}

.stories-current-buttons {
    display: flex;
    padding-bottom: 10px;
    padding-top: 10px;
    justify-content: space-between;
    width: 150px;
}

.planing-current-story-main {
    white-space: pre-wrap;
    /* white-space: pre; */
}