.management-project {
    border-radius: 0.25rem;
    padding: 5px 10px;
    cursor: pointer;
    overflow: hidden;
    display: flex;
}

.management-project + .management-project {
    margin-top: 0.5rem;
}

.management-project:hover {
    background-color: #edeef0;
}

.selected-management-project {
    color: #fff;
    background-color: #337cca;
}

.selected-management-project:hover {
    background-color: #0561c8;
}

.management-project a{
    
    width: 100%;
    color: black;
}