.user-list-role-but {
    display: flex;
}

.user-role-but {
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 3px;
    font-size: 30px;
    line-height: 19px;
    cursor: pointer;
}

.user-role-but-add {
    background-color: #28a745;

}


.user-role-but-del {
    background-color: #dc3545;

}

.user-list-del-but {
    /* background-color: #dc3545; */
    width: 30px;
    height: 30px;
    border-radius: 3px;
    cursor: pointer;
}

.planing-user-voted {
    background-color: lawngreen;
}

.planing-user-not-voted {
    background-color: lavenderblush;
}

.planing-user-voted-min {
    background-color: darksalmon;
}

.planing-user-voted-max {
    background-color: peru;
}

.planing-user {
    -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    border-radius: 5px;
    padding: 10px;
    /* background-color: white; */
}

.planing-user-img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    overflow: hidden;
}