div.main-header {
    height: 3.75rem;
    /* border: 2px solid black; */
    background-color: #fff;
    position: relative;
    box-shadow: 0 0 5px rgb(0 0 0 / 25%);
}

div.main-header-inner {
    height: 100%;
}

div.main-header-row {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.main-header-menu {
    position: absolute;
    padding: 0.625rem;
    width: 200px;
    /*height: 300px;*/
    top: 4.5rem;
    z-index: 2;
    font-size: 18px;
    background-color: white;
    border-radius: 3px;
    /* transition: 0.5s ease-in-out; */
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.main-header-menu-line {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 0.25rem;
}

.main-header-menu-line:hover {
    background-color: #edeef0;
}

.main-header-menu-line + .main-header-menu-line {
    margin-top: 0.25rem;
}

.main-header-menu-line a {
    width: 100%;
    display: block;
    text-decoration: none;
    color: #000;
}

.main-header-menu-hide {
    left: -210px;
}

.main-header-menu-show {
    left: 0.75rem;
    box-shadow: 0 0 5px rgb(0 0 0 / 25%);
    border-radius: .75rem;
}

/* .main-header-menu a {
} */