.project-time-one-line {
    /* height: 30px; */
    display: flex;
}

.project-time-one-cell {
    height: 45px;
    width: 55px;
    min-width: 55px;
    border: 1px solid black;
    /* padding: 5px; */
    text-align: center;
    overflow: hidden;
    font-size: small;
}

.project-time-one-line .one-line-times {
    display: flex;
}

.project-time-one-line .one-line-person {

    width: 150px;
    min-width: 150px;
}



.project-time-page-main {
    padding-top: 20px;
    overflow-x: auto;
}

.project-time-time-block {
    padding-top: 20px;
}