.review-project-detail-main {}

.review-project-detail-main-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 0.6875rem;
}

.review-project-detail-main-header-buttons {
    display: flex;
    gap: 1rem;
    margin-left: auto;
}

.review-project-detail-main h1 {
    margin-bottom: 0;
    margin-left: 2.5rem;
}

.review-project-detail-main h3 {
    margin-top: 0.5rem;
}

/*.review-project-new-task-block {*/
/*    !* border: 1px solid black; *!*/
/*    padding-bottom: 15px;*/
/*}*/

.review-project-tasks-filters-block {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    /* overflow: hidden; */
    background-color: white;
    border-radius: 0.75rem;
    -webkit-box-shadow: 0 0 5px rgb(0 0 0 / 25%);
    box-shadow: 0 0 5px rgb(0 0 0 / 25%);
}

.review-project-tasks-filters-block h4 {
    margin-top: -0.5rem;
    margin-bottom: 0;
}

.review-project-tasks-filters-block-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem 1.5rem;
}

.review-project-tasks-filters-block-flex .form-input {
    width: 15rem;
}

.review-project-tasks-filters-block-flex span {
    margin-right: 0.5rem;
}

.review-project-tasks-filters-buttons {
    display: flex;
    /* justify-content: space-between; */
    gap: 20px;
    flex-wrap: wrap;
}

.review-project-delete-button {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.filter-cancel-button {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.review-project-edit-button {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.review-project-tasks {
    margin-top: 0.5rem;
}

.review-project-no-project {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 120px auto 0 auto;
    background-color: #fff;
    border-radius: 0.75rem;
    width: fit-content;
    padding: 1rem;
    -webkit-box-shadow: 0 0 5px rgb(0 0 0 / 25%);
    box-shadow: 0 0 5px rgb(0 0 0 / 25%);
}

.review-project-no-project img {
    width: 3rem;
    height: 3rem;
}

.review-project-no-project h2 {
    font-size: 2rem;
    margin-bottom: 0.25rem;
}

.review-project-tasks-no-tasks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 60px auto 0 auto;
    background-color: #fff;
    border-radius: 0.75rem;
    width: fit-content;
    padding: 1rem;
    -webkit-box-shadow: 0 0 5px rgb(0 0 0 / 25%);
    box-shadow: 0 0 5px rgb(0 0 0 / 25%);
}

.review-project-tasks-no-tasks img {
    width: 3rem;
    height: 3rem;
}

.review-project-tasks-no-tasks h2 {
    font-size: 2rem;
    margin-bottom: 0.25rem;
}

.filters-window-full {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.filters-window {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.filters-window .add-one-filter {
    color: #4a6b8b;
    font-weight: 500;
    border: 1px solid #e1e5eb;
    cursor: pointer;

    border-radius: 5px;
    padding: 2px;
}

.filter-container {
    display: flex;
    align-items: center;
    /* gap: 10px; */
    /* margin-bottom: 20px; */
    flex-wrap: wrap;
}

.filter-tag {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    padding: 3px 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    border: 1px solid #e1e5eb;
    font-size: 13px;
}

.filter-name {
    margin-right: 8px;
    color: #4a6b8b;
    font-weight: 500;
}

.filter-input {
    border: 1px solid #e1e5eb;
    border-radius: 10px;
    padding: 2px 9px;
    font-size: 13px;
    outline: none;
    transition: border 0.3s;
    background-color: white;
}

.filter-input:focus {
    border-color: #a0c1e4;
}

.remove-filter {
    background: none;
    border: none;
    color: #9ab0c7;
    cursor: pointer;
    font-size: 14px;
    padding: 0;
    display: flex;
    align-items: center;
    transition: color 0.2s;
}

.remove-filter:hover {
    color: #6d8cb0;
}

.add-task-btn {

    background-color: #6e98cc;
    color: white;
    border: none;
    border-radius: 18px;
    padding: 8px 16px;
    font-size: 13px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: background-color 0.2s;
    margin-left: 10px;
}


.add-task-btn:hover {
    background-color: #5b8cca;
}

.add-filter-btn {
    background-color: #e1f0ff;
    color: #3a7bc8;
    border: none;
    border-radius: 18px;
    padding: 8px 16px;
    font-size: 13px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: background-color 0.2s;
}


.add-filter-btn:hover {
    background-color: #d0e4fa;
}

.del-filter-btn {
    background-color: #ed7a8d;
    color: #ffffff;
    border: none;
    border-radius: 18px;
    padding: 8px 16px;
    font-size: 13px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
    transition: background-color 0.2s;
}


.del-filter-btn:hover {
    background-color: #dc4861;
}

.cross-icon {
    font-weight: bold;
    font-size: 14px;

}


.plus-icon {
    font-weight: bold;
    font-size: 14px;
}


.review-project-tasks .tasks-header {
    display: flex;
    
    padding-bottom: 10px;
}