.vault-secrets-list {
    /* display: flex; */
    row-gap: 10px;
    flex-wrap: wrap;
    padding-top: 10px;
}

.vault-secrets-list input.form-control {
    height: 30px;
}

.vault-auth {
    display: flex;
}

.vault-auth input {
    width: 200px;
}

.vault-header {
    display: flex;
    justify-content: space-between;
}

.vault-header .buttons-block .but {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    cursor: pointer;
    box-shadow: 0px 0px 3px 0px #474343;
    border-radius: 5px;
}

.vault-header .buttons-block {
    display: flex;
    gap: 5px;
}

.vault-header .vault-name {
    font-size: x-large;
    font-weight: bold;
}

.vault-secrets-list .search-area{
    width: 300px;
    padding-top: 15px;
    padding-bottom: 5px;
}