.vault-list-container {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.create-vault-in-list {
    width: 200px;
    height: 110px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 120px;
    cursor: pointer;
    text-align: center;
    line-height: 70px;
    vertical-align: middle;
}