.header-user-menu {
    position: absolute;
    background-color: white;
    /* transition: 0.5s ease-in-out; */
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    border-radius: 0.75rem;
    z-index: 2;
    font-size: 18px;
    top: 4.5rem;
    padding: 0.625rem;
    width: 210px;
    /*height: 100px;*/
    -webkit-box-shadow: 0 0 5px rgb(0 0 0 / 25%);
    box-shadow: 0 0 5px rgb(0 0 0 / 25%);
}

.header-user-menu-show {
    right: 0.75rem;
    visibility: visible;
}

.header-user-menu-hide {
    right: -230px;
    /* right: 0px;
    width: 0px;
    height: 0px; */
    visibility: hidden;
}

.header-user-menu a {
    text-decoration: none;
}

div.header-user-block {
    height: 100%;
    /* transition: 1s; */
    /* border-left: 1px solid white; */
    /* cursor: pointer; */
}

div.header-user-dropdown {
    height: 100%;
    cursor: pointer;
    text-align: right;
    display: flex;
    padding-right: 5px;
    min-width: 100px;
    justify-content: space-around;
    max-width: 250px;
    align-items: center;
}

div.header-auth-dropdown {
    height: 100%;
    /* cursor: pointer; */
    font-size: 20px;
    text-align: center;
    color: black;
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

div.header-auth-dropdown:hover {
    background-color: #99a2ad;
}


.header-user-name-text {
    /* display: block;
    max-width: 50%; */
    overflow: hidden;
    /* padding-right: 10px; */
    margin-right: 10px;
    color: black;
    font-weight: 600;
    font-size: 20px;
}

div.header-user-img {
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    width: 50px;
    flex-shrink: 0;
}

div.header-user-img img {
    height: 100%;
    width: 100%;
}



div.header-user-block-inner {
    height: 100%;
    /* cursor: pointer; */
    position: relative;
}

div.header-user-block-inner:hover {
    /* background-color: greenyellow; */
    /* transition: 1s; */
}

.header-user-menu-line {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 0.25rem;
    color: black;
}

.header-user-menu-line + .header-user-menu-line {
    margin-top: 0.25rem;
}

.header-user-menu-line a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: black;
}

.header-user-menu-line:hover {
    background-color: #edeef0;
}