


div.main-auth-container {
    padding-top: 120px;
    padding-bottom: 30px;
}


div.auth-container-inner {
    /* border:2px solid black; */
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    width: 450px;
    padding: 1.25rem;
    border-radius: .75rem;
    background-color: #fff;
}

a.auth-switcher-link {
    width: 100%;
}

div.auth-switcher {
    display: flex;
    gap: 20px;
    margin-bottom: 1.5rem;
}