.review-project-new-block {
    /*padding-bottom: 10px;*/
}

.code-review-projects-menu {
    overflow: hidden;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.code-review-projects-menu hr {
    width: 100%;
}

.code-review-projects-menu .form-input {
    margin-bottom: 1rem;
}

.review-project-new-block .button {
    margin-top: 0 !important;
    min-width: max-content;
}