.review-project-new-block {
    padding-bottom: 10px;
}

.code-review-projects-menu {
    /* flex-grow: 1; */
    overflow: hidden;
    /* border-right: 1px solid black; */
}

.code-review-projects-menu-hide {
    width: 20px;
    min-width: 20px;
}

.code-review-projects-menu-visible {
    width: 215px;
    min-width: 215px;
}

.hide-review-projects-list-button {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    /* float: right; */
    position: absolute;
    background-color: darkkhaki;
    line-height: 16px;
    right: -12px
    /* margin-right: -14px; */
}