.code-review-main-container{
    display: flex;
    flex-wrap: nowrap;
}

.code-review-projects-menu{
    /* flex-grow: 1; */
    width: 215px;
    min-width: 215px;
    border-right: 1px solid black;
}

.code-review-project-info{
    flex-grow: 2;

}