.one-review-task-block {
    position: relative;
    padding-bottom: 10px;

}

.one-review-task-buttons {
    /* position: absolute; */
    /* right: 0px; */
    width: 35px;
    padding-left: 5px;
}

.one-review-task-content {
    flex-grow: 2;
}

.review-task-name-input {
    width: 100%;
}

.one-review-task-block-flex {
    display: flex;
    padding: 10px;
    /* border-radius: 10px; */
    background-color: white;
    border-radius: 7px;
    /* padding-left: 10px; */
    overflow: hidden;
}

.review-task-save-button {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.review-task-cancel-button {
    width: 30px;
    height: 30px;
    cursor: pointer;

}

.review-task-comments-button {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.review-task-link-button {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.review-task-delete-button {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.one-review-task-comments-block {
    /* padding-left: 30px;
    padding-right: 30px;
     */
    padding: 15px;
}

.one-review-task-comments-block-inner {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: white;
    border-radius: 7px;
}