
div.main-auth-container{
    padding-top: 30px;
    padding-bottom: 30px;
}

div.auth-container-inner{
/* border:2px solid black; */
box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

a.auth-switcher-link{
    width:100%;
}

div.auth-switcher{
    padding-bottom: 20px;
}

