.project-user-save-button {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.project-user-cancel-button {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.project-user-delete-button {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.one-project-user-buttons {
    display: flex;
}

.one-project-user-content {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid black;
}