.planing-room-header {
    display: flex;

}

.planit-room-left-part {
    /* border: 2px solid black; */
    /* background: -webkit-gradient(linear, left top, right top, from(transparent), to(#745959));
    background: -o-linear-gradient(left, transparent, #745959);
    background: linear-gradient(to right, transparent, #745959); */
    /* #2a4061); */
    min-height: 500px;
}

.planit-room-right-part {
    /* border: 2px solid black; */
    /* background: -webkit-gradient(linear, right top, left top, from(transparent), to(gray));
    background: -o-linear-gradient(right, transparent, gray);
    background: linear-gradient(to left, transparent, gray); */
    min-height: 500px;
}

.planing-poker-left-one-section {
    background-color: white;
    border-radius: 7px;
    padding-left: 10px;
}

.planing-room-not-auth {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: 1px solid #07135c;
    /* display: block; */
    text-align: center;
    color: white;
    background-color: #e53535;
    font-size: 95%;
    cursor: default;
}


.planing-people-refresh {
    width: 15px;
    height: 15px;
    cursor: pointer;
}

.planing-name-change-but {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.planning-vote-settings {
    border-bottom: 1px solid #db5353;
    display: flex;
}

.planing-vote-show-but{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.people-room-header {
    display: flex;
}


.room-action-btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.planit-room-buttons {
    display: flex;
    justify-content: space-between;
    width: 120px;
}

.room-action-btn-del {
    background-color: #dc3545;
}


.planing-cards-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-line-pack: justify;
    align-content: space-between;
    gap: 12px;
    padding-top: 10px;
    /* calc() */
}

.planing-cards-container>div {
    margin: 6px;
}
