.management-project-new-block {
    /*padding-bottom: 10px;*/
}

.code-management-projects-menu {
    overflow: hidden;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.code-management-projects-menu hr {
    width: 100%;
}

.code-management-projects-menu .form-input {
    margin-bottom: 1rem;
}

.management-project-new-block .button {
    margin-top: 0 !important;
    min-width: max-content;
}

.selected-main-management-project {
    color: #fff;
    background-color: #337cca;
    margin-top: 0.5rem;
    border-radius: 0.25rem;
    padding: 5px 10px;
    cursor: pointer;
    overflow: hidden;
    display: flex;
}

.selected-main-management-project:hover {
    background-color: #0561c8;
}

.selected-main-management-project a {
    width: 100%;
    color: white;
}