.work-task-status-create {
    display: flex;
    justify-content: flex-start;
    gap: 10px;

}

.work-task-status-create .status-create {}

.work-task-status-create .status-input {
    width: 200px;
}

.edit-project .task-statuses {
    background-color: white;
}