.portfolio-page .portfolio-name {

    font-size: 25px;
    font-weight: 600;
    padding: 10px;
}

.portfolio-page .portfolio-main-buttons-block {}


.portfolio-elements-block .portfolio-element {
    border: 2px solid black;
}